@model IEnumerable<ChurchWebApp.Models.Ministry>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find A Church Application!</h1>
    <p class="lead">Use this awesome website to find a church where you can meet the Lord and earn your salvation!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="col-md-8">
    <div class="row">

        <table class="table table-striped">
            <tr>
                <th>
                    Churches
                </th>
                <th>
                    City
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Town)
                    </td>                   
            </tr>
        }
</table>

</div>
</div>